{% extends "!layout.html" %}
{% block sidebartitle %}
{{ super() }}

<!--<br><img style="background-color: #fff; height: unset; width: unset;" alt="Edenchain" src={{ pathto("images/edenchain_logo.png",1) }} />
<br>
-->
<br>
<a href="https://github.com/Edenpartners2018"><img style="padding: 0px; margin: auto auto auto auto;" alt="GitHub" src="{{ pathto("_static/images/github_button.png", 1) }}"/></a>
&nbsp;<a href="https://stackoverflow.com/questions/tagged/edenchain"><img style="padding: 0px; margin: auto auto auto auto;" alt="StackOverflow" src="{{ pathto("_static/images/stackoverflow_button.png", 1) }}"/></a>
&nbsp;<a href="https://chat.edenchain.org"><img style="padding: 0px; margin: auto auto auto auto;" alt="Rocket Chat" src="{{ pathto("_static/images/rocketchat_button.png", 1) }}"/></a>
&nbsp;<a href="https://www.youtube.com/embed/5zQTeBeJNPg"><img style="padding: 0px; margin: auto auto auto auto;" alt="Youtube Channel" src="{{ pathto("_static/images/youtube_button.png", 1) }}"/></a>
{% endblock %}
