{% extends "!layout.html" %}
{% block sidebartitle %}
{{ super() }}

<!--
<br><img style="background-color: #fff; height: unset; width: unset;" border="0" alt="Edenchain" src={{ pathto("_static/images/home.png",1) }} />
-->
<br>

<br>

<a href="https://edenchain.io/" target="_sub"><img style="padding: 0px; margin: auto auto auto auto;" alt="Homepage" src="{{ pathto("_static/images/github.png", 1) }}"/></a>
&nbsp;<a href="https://github.com/Edenpartners2018" target="_sub"><img style="padding: 0px; margin: auto auto auto auto;" alt="GitHub" src="{{ pathto("_static/images/github.png", 1) }}"/></a>
&nbsp;<a href="https://t.me/edenchainio" target="_sub"><img style="padding: 0px; margin: auto auto auto auto;" alt="Telegram Channel" src="{{ pathto("_static/images/telegram.png", 1) }}"/></a>
&nbsp;<a href="https://www.youtube.com/channel/UCZJ0a5vYS5zemJNwh8p2YsA/featured" target="_sub"><img style="padding: 0px; margin: auto auto auto auto;" alt="Youtube Channel" src="{{ pathto("_static/images/youtube.png", 1) }}"/></a>


{% endblock %}
